*.code-workspace
*.pyc

scratch/
!scratch/payload.json
!scratch/.gitkeep

data/
data/raw/
data/processed/
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

venv/

eo.log

eo/cloud/*
!eo/cloud/*.cpp
