*.code-workspace
*.pyc
config.yaml

scratch/
!scratch/.gitkeep

data/
data/raw/
data/processed/
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/nginx.example
!data/wsgi.py
!data/certbot/

venv/

eo.log

eo/cloud/*
!eo/cloud/*.cpp

logs/
!/logs/.gitkeep

redis/
