*.code-workspace
*.pyc

scratch/
!scratch/.gitkeep

data/
data/raw/
data/processed/
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/nginx.example
!data/wsgi.py
!data/certbot/
!/data/*.sh
!/data/*.gpkg
!/data/config.yaml
venv/
nb_venv/

eo.log

eo/cloud/*
!eo/cloud/*.cpp

logs/
!/logs/.gitkeep

redis/
