# Directories
processed_images_directory: data/processed
ph_boundaries_gpkg: data/gadm36_PHL_2.gpkg

# TODO Add as query args to API
# Bands to get
bands:
  red: B04
  green: B03
  blue: B02

# Date range and location
# start_date: 2015-01-01
start_date: 2024-01-01
end_date: 2025-12-30
longitude: 124.64176985865824
latitude: 8.465630088400024

# Size of buffer/subset
buffer_size_meters: 20

# Processing after stacking bands
lower_percentile: 1
upper_percentile: 99
no_data_value: 0
maximum_value: 255
bit_depth: uint8
gamma_correction: 0.5
chunk_size: 512

# Annotation settings
figure_size: 15
dpi: 250

# Redis
redis_host: redis

# AWS
AWS_REGION: some-region
AWS_SECRET_ACCESS_KEY: access-key
AWS_ACCESS_KEY_ID: secret-key
S3_BUCKET: some-bucket