bands:
  red: B04
  green: B03
  blue: B02

# Date range and location
start_date: 2025-04-01
end_date: 2025-04-30
longitude: 123.30178949703331
latitude: 13.513854650838848

# Size of subset
slice_start: 5000
slice_end: 6000

# Processing after stacking bands
lower_percentile: 1
upper_percentile: 99
no_data_value: 0
maximum_value: 255
bit_depth: uint8
gamma_correction: 1
chunk_size: 512
