version: "3.9"

services:
  redis:
    container_name: redis
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    command: redis-server
  eo-ph:
    container_name: eo-ph
    image: eo-ph:latest
    expose:
      - "443"
    ports:
      - "5001:5001"
      - "80:80"
      - "443:443"
    volumes:
      - ./data/processed:/eo-ph/data/processed
      - ./data/gadm36_PHL_2.gpkg:/eo-ph/data/gadm36_PHL_2.gpkg
      - ./logs:/eo-ph/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    stdin_open: true    # equivalent to -i
    tty: true           # equivalent to -t
    command: >
      sh -c "
        ln -s /etc/nginx/sites-available/eo-ph /etc/nginx/sites-enabled;
        /etc/init.d/nginx start;
        python3 -m venv /opt/certbot/;
        /opt/certbot/bin/pip install --upgrade pip;
        /opt/certbot/bin/pip install certbot certbot-nginx;
        ln -s /opt/certbot/bin/certbot /usr/bin/certbot;
        certbot --nginx --non-interactive --email miguelenricoimperial@gmail.com --agree-tos --no-eff-email -d easy-satellite.com -d www.easy-satellite.com;
        echo "0 0,12 * * * root /opt/certbot/bin/python -c 'import random; import time; time.sleep(random.random() * 3600)' && sudo certbot renew -q" | sudo tee -a /etc/crontab > /dev/null;
        gunicorn --bind 0.0.0.0:5001 --error-logfile /eo-ph/logs/gunicorn-error.log --access-logfile /eo-ph/logs/gunicorn-access.log --workers 4 --timeout 120 wsgi:app;
      "
  celery_worker:  # TODO Create container for flower
    container_name: celery_worker
    image: eo-ph:latest
    volumes:
      - ./data/processed:/eo-ph/data/processed
      - ./data/gadm36_PHL_2.gpkg:/eo-ph/data/gadm36_PHL_2.gpkg
      - ./logs:/eo-ph/logs
    ports:
      - "5555:5555"
    command: ["celery", "-A", "app.routes.celery", "worker", "--loglevel=INFO", "--logfile=/eo-ph/logs/celery.log", "-P", "gevent"]
    environment:
      - FLASK_APP=/eo-ph/api/routes.py
      - BROKER_URL=redis://redis:6379/0
    depends_on: 
      - redis
