server {
    listen 80;
    server_name localhost;

    access_log /eo-ph/logs/ngnix-access.log;
    error_log /eo-ph/logs/ngnix-error.log;

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:5001;
    }
}
