body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #111;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.main-container {
    padding: 0px 50px 0px 50px;
}

.form-container {
    padding: 0px 50px 0px 50px;
    display: block;
}


header {
    font-size: 15px;
    border-bottom: 1px solid;
    margin: 0px 40px 0px 40px;
}