<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sentinel-2 Download Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Aerial&display=swap" rel="stylesheet">
  <style>
  </style>
</head>
<body>
  <form action="/download" method="POST" enctype="application/x-www-form-urlencoded">
    <h2>Sentinel-2 Download Form</h2>

    <label for="latitude">Latitude</label>
    <input type="number" step="any" id="latitude" name="latitude" required>

    <label for="longitude">Longitude</label>
    <input type="number" step="any" id="longitude" name="longitude" required>

    <label for="start_date">Start Date</label>
    <input type="date" id="start_date" name="start_date" required>

    <label for="end_date">End Date</label>
    <input type="date" id="end_date" name="end_date" required>

    <label for="buffer">Buffer Size (m)</label>
    <input type="number" id="buffer" name="buffer" placeholder="Maximum of 15m" required>

    <label for="frequency">Frequency</label>
    <input type="text" id="frequency" name="frequency" placeholder="e.g. monthly, quarterly, yearly">

    <div id="modeSelection">
      <label><input type="radio" name="mode" id="modeButtonA" value="annotate">Annotate</label>
      <label><input type="radio" name="mode" id="modeButtonE" value="export_all">Export all bands</label>
      <label><input type="radio" name="mode" id="modeButtonR" value="cloudless">Remove clouds</label>
    </div>

    <div style="border-bottom: 1px solid gray;"></div>
    
    <div class="checkbox-annotate">
      <label><input type="checkbox" name="boundary">Boundary</label>
    </div>
    
    <button type="submit">Run</button>
  </form>

  <script src="{{ url_for('static', filename='js/form.js')}}"></script>
</body>
</html>
